# Python
__pycache__/
*.py[cod]
dist/
build/
*.egg-info

# Virtual environment
.venv/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Generated outputs
_site/
*.db

# misc
.claude
.obsidian
